# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE/Editor files
.idea/
.vscode/

# Environment variables (e.g., API tokens)
.env
*.env

# Logs
*.log

# Dependencies
*.sqlite3
